Repository 246overclocked/2022-Robot-Code-Java, pull requests merged in 2022-01, with the labels that each got.

#9 Migrated repo to 2022 WPILib
  .classpath
  .gitignore
  .project
  .settings/org.eclipse.buildship.core.prefs
  .vscode/settings.json
  .wpilib/wpilib_preferences.json
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Labels: chore

#10 Feature/skeleton of drive base
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/ExampleCommand.java
  src/main/java/frc/robot/commands/drive/ArcadeDriveCommand.java
  src/main/java/frc/robot/commands/drive/DriveCommand.java
  src/main/java/frc/robot/commands/drive/StopDriveCommand.java
  src/main/java/frc/robot/commands/drive/TankDriveCommand.java
  src/main/java/frc/robot/commands/drive/ToggleBrakingModeCommand.java
  src/main/java/frc/robot/subsystems/DriveBase.java
  src/main/java/frc/robot/subsystems/ExampleSubsystem.java
  vendordeps/REVLib.json
Labels: subsystem, command, sub/drivebase, time/auton, time/teleop

#11 Write Simple Auton and add some Documentation
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/auton/SimpleAutonCommand.java
  src/main/java/frc/robot/commands/drive/ArcadeDriveCommand.java
  src/main/java/frc/robot/commands/drive/DriveCommand.java
  src/main/java/frc/robot/commands/drive/StopDriveCommand.java
  src/main/java/frc/robot/commands/drive/TankDriveCommand.java
  src/main/java/frc/robot/commands/drive/ToggleBrakingModeCommand.java
  src/main/java/frc/robot/subsystems/DriveBase.java
Labels: documentation, command, sub/drivebase, time/auton

#15 Add Linting CI
  .github/workflows/linter.yml
  .gitignore
  .vscode/java-formatter.xml
  .vscode/settings.json
  checkstyle.xml
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/auton/SimpleAutonCommand.java
  src/main/java/frc/robot/commands/drive/ArcadeDriveCommand.java
  src/main/java/frc/robot/commands/drive/DriveCommand.java
  src/main/java/frc/robot/commands/drive/StopDriveCommand.java
  src/main/java/frc/robot/commands/drive/TankDriveCommand.java
  src/main/java/frc/robot/commands/drive/ToggleBrakingModeCommand.java
  src/main/java/frc/robot/subsystems/DriveBase.java
Labels: chore

#23 Feature/create climber subsystem
  src/main/java/frc/robot/subsystems/Climber.java
Labels: subsystem, sub/climber

#26 Feature/add outtake subsystem
  src/main/java/frc/robot/subsystems/Outtake.java
Labels: subsystem, sub/outtake

#27 Feature/create intake subsystem
  src/main/java/frc/robot/subsystems/Intake.java
Labels: subsystem, sub/intake

#32 Update WPIlib to version 2022.2.1
  build.gradle
Labels: chore

#31 Feature/write outtake commands
  src/main/java/frc/robot/commands/outtake/RunOuttakeCommand.java
  src/main/java/frc/robot/commands/outtake/StopOuttakeCommand.java
Labels: command, time/auton, time/teleop, sub/outtake

#29 Create tower subsystem
  src/main/java/frc/robot/subsystems/Tower.java
Labels: subsystem, sub/tower

#30 Feature/climber basic commands
  src/main/java/frc/robot/commands/climber/RunClimberCommand.java
  src/main/java/frc/robot/commands/climber/StopClimberCommand.java
Labels: command, time/teleop, sub/climber

#34 Feature/create Intake commands
  src/main/java/frc/robot/commands/intake/ExtendIntakeCommand.java
  src/main/java/frc/robot/commands/intake/RetractIntakeCommand.java
  src/main/java/frc/robot/commands/intake/SpinIntakeCommand.java
  src/main/java/frc/robot/commands/intake/StopSpinIntakeCommand.java
  src/main/java/frc/robot/commands/intake/ToggleExtensionIntakeCommand.java
Labels: command, time/auton, time/teleop, sub/intake

#36 Add Primary and Secondary Driver Joysticks
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: enhancement, time/teleop

#37 Create Basic Tower Commands
  src/main/java/frc/robot/commands/tower/RunTowerCommand.java
  src/main/java/frc/robot/commands/tower/StopTowerCommand.java
Labels: command, time/auton, time/teleop, sub/tower
