Repository 246overclocked/2022-Robot-Code-Java, pull requests merged in 2022-02, with the labels that each got.

#48 Add Outtake support in Teleop
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: command, time/teleop, sub/outtake

#52 Add tower support in teleop
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: command, time/teleop, sub/tower

#49 Feature/add teleop intake support
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: command, time/teleop, sub/intake

#50 Add second outtake motor
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Outtake.java
Labels: enhancement, subsystem, sub/outtake

#55 Add tank drive to teleop
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
Labels: command, sub/drivebase, time/teleop

#53 Add medium auton and chooser
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: command, sub/drivebase, time/auton, sub/outtake

#56 Feature/add teleop climber support
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: command, time/teleop, sub/climber

#54 Add extra tower motors
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Tower.java
Labels: enhancement, subsystem, sub/tower

#59 Register each subsystem with scheduler
  src/main/java/frc/robot/subsystems/Climber.java
  src/main/java/frc/robot/subsystems/DriveBase.java
  src/main/java/frc/robot/subsystems/Intake.java
  src/main/java/frc/robot/subsystems/Outtake.java
  src/main/java/frc/robot/subsystems/Tower.java
Labels: bug, good first issue, subsystem

#51 Add second solenoid to intake
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/intake/ExtendIntakeCommand.java
  src/main/java/frc/robot/commands/intake/RetractIntakeCommand.java
  src/main/java/frc/robot/commands/intake/ToggleExtensionIntakeCommand.java
  src/main/java/frc/robot/subsystems/Intake.java
Labels: enhancement, subsystem, sub/intake

#60 Fixes Constants for Intake and fixes Intake declarations in RobotContainer.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: bug, time/teleop, sub/intake

#66 Change Intake to use Victor SPX
  src/main/java/frc/robot/subsystems/Intake.java
Labels: enhancement, subsystem, sub/intake

#67 Change Climber Motor to TalonFX
  src/main/java/frc/robot/subsystems/Climber.java
Labels: enhancement, subsystem, sub/climber

#68 Change Intake Motor to TalonSRX and set current limits for all subsystems
  gradlew
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Climber.java
  src/main/java/frc/robot/subsystems/DriveBase.java
  src/main/java/frc/robot/subsystems/Intake.java
  src/main/java/frc/robot/subsystems/Outtake.java
  src/main/java/frc/robot/subsystems/Tower.java
Labels: enhancement, subsystem, sub/drivebase, sub/outtake, sub/climber, sub/tower, sub/intake

#69 Fix Current Supply and Intake Subystem
  .vscode/launch.json
  src/main/java/frc/robot/subsystems/Climber.java
  src/main/java/frc/robot/subsystems/DriveBase.java
  src/main/java/frc/robot/subsystems/Intake.java
Labels: bug, subsystem, sub/drivebase, sub/climber, sub/intake
